<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Recipe</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateRecipe()" [disabled]="!formAdd.valid || !formAdd.get('imageFile').value">
        <ion-icon name="checkmark" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formAdd">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-list>
            <ion-label position="floating">Recipe Title</ion-label>
            <ion-input formControlName="title"></ion-input>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-list>
            <ion-label position="floating">Recipe Description</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-list>
        </ion-item>
        <!-- <ion-item>
          <ion-list>
            <ion-label position="floating">Recipe Image URL</ion-label>
            <ion-input formControlName="imageUrl"></ion-input>
          </ion-list>
        </ion-item> -->
      </ion-card-content>
      <ion-row>
        <ion-col>
          <div class="ion-padding">
            <!-- <img [src]="selectedImage" class="img-fluid" /> -->
            <ion-button (click)="getImage()" type="file" color="warning" fill="solid" expand="block">
              <ion-icon name="image-outline" slot="start"></ion-icon>
              <ion-label>Upload Image</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img [src]="selectedImage" class="img-fluid" />
        </ion-col>
      </ion-row>
    </ion-card>
  </form>

  <ion-row class="ion-padding">
    <ion-col>
      <ul>
        <li *ngIf="!formAdd.get('title').valid && formAdd.get('title').touched">
          <p class="text-danger" *ngIf="!formAdd.get('title').valid && formAdd.get('title').touched">
            Please fill in the input for Title
          </p>
        </li>
        <li *ngIf="!formAdd.get('description').valid && formAdd.get('description').touched">
          <p class="text-danger">Please fill in the input for Description</p>
        </li>
        <!-- <li *ngIf="!formAdd.get('imageUrl').valid && formAdd.get('imageUrl').touched">
          <p class="text-danger">Please fill in the input for ImageUrl</p>
        </li> -->
      </ul>
    </ion-col>
  </ion-row>
</ion-content>